.glassBackground {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    background-clip: border-box;
    font-family: "Space Grotesk", sans-serif;;
  }
  
.profilePagePatter1{
    background: rgb(25,5,73);
    background: linear-gradient(87deg, rgba(25,5,73,1) 22%, rgba(95,39,159,1) 100%);
    height: 500px;
    width: 500px;
    border-radius: 71% 29% 67% 33% / 29% 30% 70% 71% ;
  }
  .profilePagePatter2{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(65,4,17,1) 15%);
    height: 400px;
    width: 400px;
    border-radius: 71% 29% 67% 33% / 29% 30% 70% 71% ;
  }