@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

@import "tailwindcss/base";
/* Write your own custom base styles here */

/* Start purging... */
@import "tailwindcss/components";
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@import "tailwindcss/utilities";
/* Stop purging. */

/* Your own custom utilities */

@layer base {
  body {
    @apply bg-[#060F1E] text-gray-300 !important;
  }
}

/* @layer base {
  body {
    @apply bg-[#6653FF] text-gray-300;
  }
} */

@layer components {
  .btn-purple {
    @apply bg-custom-bg px-10 rounded-full py-2 font-extrabold hover:bg-purple-600 transition-all ease-out;
  }
  .table-heading {
    @apply py-4 px-6 font-bold text-base text-[#686868] border-b;
  }
  .table-data {
    @apply py-4 px-6 border-b font-medium hover:text-blue-700 transition-all ease-in-out duration-100 cursor-pointer;
  }
  .login-btn {
    @apply py-2 px-4 shadow-md no-underline rounded-full bg-custom-yellow text-white font-sans font-semibold text-sm border-custom-yellow2 hover:text-white hover:bg-custom-yellow focus:outline-none active:shadow-none mr-2;
  }
  .social-login-btn {
    @apply mt-3 w-full flex justify-center rounded-full bg-black px-4 p-3 font-semibold text-white items-center space-x-2;
  }
  .loginSignUp {
    @apply bg-no-repeat bg-cover bg-center relative overflow-hidden;
  }
  .loginSignUpHeading {
    @apply mb-3 font-bold text-5xl text-white;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Lato" !important;
}

.customHero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../public//background.webp");
  background-position: center center;
  background-size: cover;
  padding: 80px;
}

.cartoon {
  animation: updown 2s ease infinite;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background-color: #fb7a16;
  border-radius: 100px;
}

@keyframes updown {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(224, 36, 36, 0.89);
  border-bottom: 5px solid rgba(228, 21, 21, 0.774);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgb(245, 240, 240);
  border-right: 5px solid rgba(243, 241, 241, 0.945);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(65, 17, 197, 0.5);
  border-right: 5px solid rgba(62, 22, 172, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/* OUTPUT LOADER */

.loader {
  width: 4.8px;
  height: 4.8px;
  display: block;
  margin: 50px auto;
  position: relative;
  border-radius: 4px;
  color: #fff;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 4.8px;
  height: 4.8px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}
.loader::after {
  top: -15px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    width: 4.8px;
  }
  100% {
    width: 48px;
  }
}

.ant-modal-footer {
  background-color: #1b1138 !important;
}
.ant-modal-header {
  background-color: #1b1138 !important;
}
.ant-modal-title {
  color: white !important;
}
.ant-modal-content {
  border-radius: 30% !important;
}
.ant-modal-close-x,
.ant-statistic-title {
  color: white !important;
}
