.root {
  --main-color: #4a76a8;
  --primary-color: #643ADA;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer components {
  .circular-btn {
    @apply inline-block rounded-full bg-custom-indigo text-white leading-normal uppercase shadow-md hover:bg-indigo-700 hover:shadow-lg focus:bg-indigo-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-indigo-800 active:shadow-lg transition duration-150 ease-in-out w-9 h-9 relative overflow-hidden flex justify-center items-center;
  }
  .btn-purple {
    @apply bg-custom-indigo py-3 px-3 text-xl text-white rounded-full font-extrabold hover:bg-indigo-800 transition-all ease-out;
  }
  .table-heading {
    @apply py-4 md:px-6 md:font-bold md:text-base text-[#686868] border-b border-slate-500 text-sm px-3;
  }
  .table-data {
    @apply md:py-4 md:px-6 border-b md:font-medium hover:text-blue-700 transition-all ease-in-out duration-100 cursor-pointer px-2 text-sm;
  }
  .login-btn {
    @apply py-2 px-4 shadow-md no-underline rounded-full bg-custom-indigo text-white font-semibold text-sm border-custom-indigo hover:text-white hover:bg-custom-background focus:outline-none active:shadow-none mr-2 transition-all ease-in-out duration-300;
  }
  .social-login-btn {
    @apply mt-3 w-full flex justify-center rounded-full bg-black px-4 p-3 font-semibold text-white items-center space-x-2;
  }
  .loginSignUp {
    @apply bg-no-repeat bg-cover bg-center relative overflow-hidden;
  }
  .loginSignUpHeading {
    @apply mb-3 font-extrabold text-8xl text-white;
  }

  .filebtn {
    @apply text-sm text-gray-500 file:mr-4 file:py-2 file:px-4
    file:rounded-full file:border-0
    file:text-sm file:font-semibold
    file:bg-violet-50 file:text-violet-700
    hover:file:bg-violet-100;
  }

  .flexContainer {
    @apply flex justify-center items-center;
  }

  .signinwrapper {
    @apply lg:min-h-screen lg:flex-row lg:justify-center md:h-screen md:flex md:flex-col md:justify-center md:items-center lg:space-x-0  p-8 space-y-5 lg:z-10;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  box-shadow: none !important;
}

html {
  overflow-x: hidden;
}
body {
  font-family:"Lato", "Montserrat", sans-serif !important;
  height: 100vh;
  background-color: black;
}


.cartoon {
  animation: updown 5s ease infinite;
  margin-top: -9rem !important;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background-color: #6366f1;
  border-radius: 100px;
}

@keyframes updown {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(224, 36, 36, 0.89);
  border-bottom: 5px solid rgba(228, 21, 21, 0.774);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgb(245, 240, 240);
  border-right: 5px solid rgba(243, 241, 241, 0.945);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(65, 17, 197, 0.5);
  border-right: 5px solid rgba(62, 22, 172, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.bg-main-color {
  background-color: var(--main-color);
}

.text-main-color {
  color: var(--main-color);
}

.border-main-color {
  border-color: var(--main-color);
}
.tabview-custom {
  vertical-align: middle;
  line-height: 1.5;
  margin: 0;
}

.p-tabview-title {
  margin-left: 0.5rem;
}

.p-paginator {
  background: transparent !important;
}
.p-dropdown {
  background: transparent !important;
}

.css-1553k70 {
  height: 1px !important;
  border-bottom: none !important;
  border-style: none !important;
  border-color: none !important;
}
.css-73pxpg,
.css-pwz031,
.tw-ring-color {
  outline: none !important;
  background: none !important;
}

.p-button {
  border: none !important;
  background: none !important;
  padding: none !important;
}
.p-button-label {
  margin-left: 5px !important;
  color: white !important;
}
.p-menu .p-submenu-header {
  padding: 0 !important;
}

.p-menu.p-menu-overlay {
  background: #1e293b !important;
  border: 0 none !important;
  color: white !important;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.p-menu .p-menuitem-link .p-menuitem-text {
  color: white !important;
  font-size: 14px;
}

.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: #2d3748 !important;
}
.p-button.p-button-icon-only {
  width: 4rem !important;
}

.nextui-c-kMgpew .nextui-avatar-img {
  background: transparent !important;
}

.p-multiselect-panel,
.p-multiselect-header {
  background: #2d3748 !important;
}

.mantine-kekquh {
  background: #25262B !important;
  border: 1px solid #25262B !important;
}

.mantine-kekquh .mantine-Divider-horizontal {
  border-top-color: #000 !important;
}
.mantine-1c3hs74 {
  margin-bottom: 0 !important;
}
.backgroundGrdient {
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(37,34,53) 20% , rgb(37,34,53) 5%, rgb(39,38,61) 12%, rgb(65,58,112) 90% ); */
  background-image: linear-gradient(to right, #252235, #2F2B4A, #413A71);
} 
.glassNavbar {
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
  background-clip: border-box;
  z-index: 100;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.scrolling-active {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
}

.brand {
  display: inline-flex;
  background-color: var(--primary-color);
  height: 1.2rem;
  width: .5rem;
}

/* .glassBackground {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  background-clip: border-box;
} */
/* @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .glassBackground {
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }
}
@supports (-moz-appearance:none) {
  .profilePagePatter1, .profilePagePatter2{
    background: none;
    height: none;
    width: none;
    border-radius: none;
  }
} */


/* .profilePagePatter1{
  background: rgb(25,5,73);
  background: linear-gradient(87deg, rgba(25,5,73,1) 22%, rgba(95,39,159,1) 100%);
  height: 500px;
  width: 500px;
  border-radius: 71% 29% 67% 33% / 29% 30% 70% 71% ;
}
.profilePagePatter2{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(65,4,17,1) 15%);
  height: 400px;
  width: 400px;
  border-radius: 71% 29% 67% 33% / 29% 30% 70% 71% ;
} */